<main>

  <section id="home">
    <div class="home-container">

      <div class="short-info">
        <h1>START YOUR ADVENTURE TODAY!</h1>
        <h2>Everything you need to know about Harry Potter and the magical
          world.</h2>
      </div>

    </div>
  </section>

  <section id="home-page">


    <div class="offers">
    {{#each creatures}}
      <div class="col container"><img
          src="{{image}}"
          alt="{{name}}"
        /></div>
    {{/each}}
    </div>

  </section>

</main>